/* Общие стили */
.container {
  box-sizing: border-box;
  max-width: 1100px;
  padding: 0 50px;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

/* header */

.header {
  padding: 93px 0 95px;
}

.header__container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "nav nav nav logo . info info";
}

.header__nav {
  grid-area: nav;
}

.header__nav-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
  text-underline-offset: 5px;
}

.header__nav-item:first-child {
  list-style: none;
  text-decoration: none;
}

.header__logo {
  grid-area: logo;
  display: block;
  width: 100%;
  height: 105px;
}

.header__info {
  justify-self: end;
  padding-right: 35px;
}

.info__link {
  line-height: 24px;
  text-underline-offset: 5px;
}

/* cover */

.cover {
  position: relative;
  z-index: 0;
  background: url(../images/cover.jpg) center/cover no-repeat;
}

.cover__container {
  padding: 161px 50px 50px;
  color: #fff;
  text-transform: uppercase;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 125px;
  margin-bottom: 124px;
}

.cover__title-center {
  display: block;
  text-align: center;
}

.cover__title-right {
  display: block;
  text-align: right;
  line-height: 120px;
}

.cover__title-space {
  letter-spacing: 60px;
}

.cover__title-nospace {
  letter-spacing: 0;
}

.cover__subline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__subline-text {
  padding-left: 28px;
  font-size: 22px;
  word-spacing: 19px;
}

.cover__subline-btn {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  padding: 12px 32px;
  font-size: 22px;
  border: 1px solid currentColor;
}

/* lots */

.lots {
  padding: 179px 0 146px;
}

.lots__container {
  padding: 0 24px;
}

.lots__title {
  padding-left: 40px;
  margin-bottom: 27px;
  font: bold 40px Raleway;
  text-transform: uppercase;
}

.lots__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  padding: 51px 40px 48px;
  color: #fff;
  text-decoration: none;
  background: center/cover no-repeat;
}

.lots__card-movie {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-title {
  font: bold 22px Raleway;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots__card-text,
.lots__more-link {
  font-size: 20px;
}

.lots__more-link {
  padding-left: 40px;
  text-underline-offset: 4px;
}

/* about */

.about {
  padding: 0 24px 170px;
}

.about__container {
  display: flex;
  gap: 72px;
  padding: 36px 0 11px 47px;
}

.about__logo {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 100%;
  background: #000 url(../images/logo-white.svg) center/62% no-repeat;
}

.about__block {
  padding-top: 101px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

/* footer */
.footer {
  padding-bottom: 88px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "info info info nav nav . links";
  justify-content: space-between;
}

.footer__nav {
  grid-area: nav;
  padding-right: 13px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 18px;
  text-align: center;
}

.footer__nav-link {
  text-underline-offset: 4px;
}

.footer__links-list {
  grid-area: links;
  display: flex;
  gap: 48px;
}

.footer__links-item {
  display: block;
  width: 48px;
  height: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  display: block;
  width: 100%;
  height: 100%;
  background: center/contain no-repeat;
}

.footer__link-yt {
  background-image: url(../images/yt.svg);
}

.footer__link-vk {
  background-image: url(../images/vk.svg);
}

.footer__link-pinterest {
  background-image: url(../images/pinterest.svg);
}
